main{
    width: 900px;
    margin: 180px auto 40px auto ;
    border: solid 5px;
    background-color: rgb(219, 108, 94);
    border-radius: 10px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.8);
    padding: 30px;
}

img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid;
    margin-top: -135px;
}

h1{
   font-size: 30px;  
}

p {
    font-size: 40px;
    margin: 40px;
    font-family: 'Fira-sans', sans-serif;
    color: rgb(131, 58, 45);
    font-weight: bold;
}