body {
  background-color: #e9d7cf;
  text-align: center;
  margin: 50px;
}

h1 {
  font-family: "Oswald";
}

p {
  font-family: "Fira sans", sans-serif;
  font-size: 24px;
}

a {
  font-family: "Fira Sans";
  text-decoration: none;
  color: rgb(167, 1, 78);
}

a:hover {
  text-decoration: underline;
}
