body {
  background-color: #e9d7cf;
  text-align: center;
  margin: 50px 50px auto 50px;
}

h1 {
  font-family: "Oswald";
}

p {
  font-family: "Fira sans", sans-serif;
  font-size: 24px;
}

a {
  font-family: "Fira Sans";
  text-decoration: none;
  color: rgb(167, 1, 78);
}

a:hover {
  text-decoration: underline;
}

.footer {
  margin: 25px 0px 5px 0px;
  font-size: 10px;
  color: #7b7a7e;
} 