body {
    background-color: #e9d7cf;
    text-align: center;
    margin: 50px;
}

h1 {
    font-family: 'Oswald';
    color: #a04f2c;
    font-size: 50px;
}

p {
    font-family: 'Fira sans', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(167, 1, 78);
}

a:hover {
    text-decoration: underline
}